DB_HOST=127.0.0.1
DB_NAME=event_management_system
DB_USER=root
DB_PASS=

# PHPMailer Configuration
# Use your Gmail address and a 'Google App Password'
MAIL_HOST=smtp.gmail.com
MAIL_USER=your_email@example.com
MAIL_PASS=your_app_password
